
@{
    Layout = null;
}
@using System.Web.Optimization
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="https://extjs.cachefly.net/ext/gpl/5.0.1/build/ext-all-debug.js"></script>
    <link rel="stylesheet" href="https://extjs.cachefly.net/ext/gpl/5.0.1/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all-debug.css" />
            @Scripts.Render("~/bundles/extjs")
</head>
<body>
    <div> 
    </div>
</body>
</html>
