
@{
    Layout = null;
}
@using System.Web.Optimization
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/ext-theme-crisp-all-debug.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/ext-theme-crisp-all-debug_01.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/ext-theme-crisp-all-debug_02.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://extjs.cachefly.net/ext/gpl/5.0.1/packages/sencha-charts/build/crisp/resources/sencha-charts-all-debug.css" type="text/css" media="all" />
    @Scripts.Render("~/bundles/extjs")
</head>
<body>
    <div> 
    </div>
</body>
</html>
